tweet-sentiment-extraction.zip
tmp/*
input/*
tweet-sentiment-extraction/*
notebooks/*.pth
notebooks/*.pt
notebooks/*.txt
notebooks/*.csv
notebooks/.*
!input/.gitkeep
!tweet-sentiment-extraction/.gitkeep
